.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 60px;
}

:root {
  --primary: #274282;
  --primaryBold: #01152A;
  --secundary: #BE0039;
  --secundaryLight: #FDC1C9;
  --base1: #ffffff;
  --base2: #000000;
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto Mono", monospace;
  --font9: 0.562rem;
  --font12: 0.75rem;
  --font14: 0.875rem;
  --font18: 1.125rem;
  --font32: 2rem;
  --font36: 2.25rem;
  --font64: 4rem;
}

body {
  font-family: var(--roboto);
  color: var(--base1);
}

.echo {
  color: black !important;
}

* {
  box-sizing: border-box;
}

.cta {
  display: flex;
  align-self: flex-start;
  border: none;
  font-family: var(--roboto) !important;
  font-size: var(--font18);
  text-transform: uppercase;
  background: var(--secundary);
  color: var(--base1);
  padding: 15px 20px;
  text-decoration: none;
}

.cta:hover {
  background: var(--base2);
  color: var(--secundary);
  transition: 0.4s;
}

.more-notices a:hover, .more-videos a:hover {
  text-decoration: underline;
}

.title {
  font-family: var(--montserrat);
  font-size: var(--font64);
  text-transform: uppercase;
  font-weight: 900;
}

@media (max-width: 520px) {
  .title {
    font-size: var(--font36);
  }
}

.banner legend, .blog-post a legend, .top-post-bar-col1 a {
  color: var(--base1);
  background: var(--primary);
  align-self: flex-start;
  padding: 5px 10px;
  font-size: var(--font12);
  margin-bottom: 5px;
}

@keyframes seta {
  from {
    right: -5px;
  }
  to {
    right: 0px;
  }
}

input, select, textarea {
  font-family: var(--roboto);
  font-size: var(--font14);
  padding: 5px;
}

#searchform #s {
  color: var(--base1);
}

html {
  -webkit-tap-highlight-color: transparent;
}

::selection {
    background: var(--secundaryLight);
    color: var(--primary);
    text-shadow: none;
}

strong {
  font-weight: 700;
}
