/* Banners */

.banners .container {
  max-width: none;
  padding: 0px;
}

.banner {
height: 700px;
width: 50%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  padding: 0px 60px 70px 60px;
}

.banner h2 {
  font-family: var(--montserrat);
  font-size: var(--font32);
  color: var(--base1);
  text-transform: uppercase;
  font-weight: 700;
}

.banner legend {
  color: var(--base1);
  background: var(--primary);
  align-self: flex-start;
  padding: 5px 10px;
  font-size: var(--font12);
  margin-bottom: 5px;
}


@keyframes anima {
  0% {
    width: 50%;
  }
  100% {
    width: 70%;
  }
}

/* Match */

.match {
  background: linear-gradient(180deg, #000000 0%, #03468C 100%);
  padding: 60px 0px;
}

.match .container {
  justify-content: center;
  align-items: center;
}

.divide {
  content: '';
  display: block;
  width: 1px;
  height: 220px;
  background: var(--secundary);
  margin: 0px 60px
}

.match-data .league {
  font-size: var(--font14);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 5px;
}

.match-data .stadium {
  font-size: var(--font12);
  text-align: center;
  letter-spacing: 2px;
}

.match-data .date {
  font-family: var(--montserrat);
  font-size: var(--font14);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--secundary);
}

.versus {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.versus span {
  font-family: var(--montserrat);
  font-size: var(--font14);
}

.match-day {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.match-day .rest {
  font-size: var(--font14);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.match-day .day {
  display: flex;
  margin: 20px 0px;
  width: 100%;
  justify-content: center;
}

.match-day .day p + p {
  margin-left: 20px;
}

.match-day .day p {
  display: flex;
  align-items: center;
}

.match-day .day .number {
  align-items: center;
  font-family: var(--montserrat);
  font-size: var(--font32);
  letter-spacing: 5px;
  width: 50px;
  text-align: center;
}

.start-game {
  font-family: var(--montserrat);
  font-size: var(--font32);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.match-day .day .atr {
  font-family: var(--roboto);
  font-size: var(--font14);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 5px;
  color: var(--secundary);
}

.match-day .cta {
  justify-content: center;
  align-self: center;
}

.versus img {
  width: 130px;
}

.versus {
  display: flex;
}

.versus img:first-child {
  width: 120px;
  order: 1;
}

.versus span {
  order: 2;
}

.versus img:last-child {
  order: 3;
}
