/* Banners */

.banners .container {
  max-width: none;
  padding: 0px;
}

.banner {
height: 700px;
width: 50%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  padding: 0px 60px 70px 60px;
}

.banner h2, .blog-post a h2, .text-blog h3 {
  font-family: var(--montserrat);
  font-size: var(--font32);
  color: var(--base1);
  text-transform: uppercase;
  font-weight: 700;
}


@keyframes anima {
  0% {
    width: 50%;
  }
  100% {
    width: 70%;
  }
}

/* Match */

.match {
  background: linear-gradient(180deg, #000000 0%, #03468C 100%);
  padding: 60px 0px;
}

.match .container {
  justify-content: center;
  align-items: center;
}

.divide {
  content: '';
  display: block;
  width: 1px;
  height: 220px;
  background: var(--secundary);
  margin: 0px 60px
}

.match-data .league {
  font-size: var(--font14);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  margin-bottom: 5px;
}

.match-data .stadium {
  font-size: var(--font12);
  text-align: center;
  letter-spacing: 2px;
}

.match-data .date {
  font-family: var(--montserrat);
  font-size: var(--font14);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: var(--secundary);
}

.versus {
  margin: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.versus span {
  font-family: var(--montserrat);
  font-size: var(--font14);
}

.match-day {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.match-day .rest {
  font-size: var(--font14);
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

.match-day .day {
  display: flex;
  margin: 20px 0px;
  width: 100%;
  justify-content: center;
}

.match-day .day p + p {
  margin-left: 20px;
}

.match-day .day p {
  display: flex;
  align-items: center;
}

.match-day .day .number {
  align-items: center;
  font-family: var(--montserrat);
  font-size: var(--font32);
  letter-spacing: 5px;
  width: 50px;
  text-align: center;
}

.start-game {
  font-family: var(--montserrat);
  font-size: var(--font32);
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
}

.match-day .day .atr {
  font-family: var(--roboto);
  font-size: var(--font14);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 5px;
  color: var(--secundary);
}

.match-day .cta {
  justify-content: center;
  align-self: center;
}

.versus img {
  width: 130px;
}

.versus {
  display: flex;
}

.versus img:first-child {
  width: 120px;
  order: 1;
}

.versus span {
  order: 2;
}

.versus img:last-child {
  order: 3;
}

/* Noticias */

.notices {
  background: var(--secundary);
  padding: 60px 0px;
}

.notices .container {
  flex-direction: column;
}

.notices .col1, .col2 {
  display: flex;
}

.notices .col1 .banner + .banner {
  margin-left: 20px;
}

.notices .col2 .banner + .banner {
  margin-left: 20px;
}

.notices .container .banner, .related-posts .container .banner {
  width: 30%;
  height: 300px;
  padding: 0px 60px 40px 60px;
}

.notices .col1 .banner:first-child, .col2 .banner:first-child {
  width: 40%;
  height: 360px;
}

.notices .col2 .banner:nth-child(2), .col2 .banner:nth-child(3) {
  margin-top: -60px;
}

.notices .col1 .banner:first-child {
  margin-bottom: 20px;
}

.notices .container .banner h2, .related-posts .container .banner h2 {
  font-size: var(--font18);
}

.notices .container::after {
  content: '';
  display: block;
  width: calc(66.66% - 90px);
  height: 1px;
  background: var(--primary);
  align-self: flex-end;
  position: relative;
  top: -100px;
}

.more-notices {
  display: flex;
  width: calc(66.66% - 90px);
  align-self: flex-end;
  position: relative;
  top: -40px;
  justify-content: center;
}

.more-notices a {
  color: var(--base1);
  font-size: var(--font18);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
}

.more-notices a span {
  color: var(--primary);
  margin-right: -5px;
}

/* Videos */

.videos {
  padding: 40px 0px 60px 0px;
  background: linear-gradient(180deg, #F9314B 0%, rgba(0, 0, 0, 0.4) 100%), url(../img/bg-videos.jpg);
  height: 900px;
}

.videos .title {
  margin-bottom: 40px;
}

.videos .container {
  flex-direction: column;
}

.videos-content div {
  display: flex;
}

.videos-content .col2 {
  margin-top: 20px;
}

.videos-content .col1 iframe {
  width: 50%;
  height: 350px;
  margin-right: 20px;
}

.videos-content .col2 iframe {
  width: 33.33%;
  height: 270px;
  margin-right: 20px;
}

.videos-content .col1 iframe:last-child, .videos-content .col2 iframe:last-child {
  margin-right: 0px;
}

.more-videos {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.more-videos::after {
  content: '';
  display: block;
  width: 100% !important;
  height: 1px;
  background: var(--secundary);
  order: 1;
  width: 62%;
}

.more-videos a {
  display: table;
  text-align: right;
  width: 800px;
  order: 2;
  color: var(--base1);
  font-size: var(--font18);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 20px;
}

.more-videos a span {
  color: var(--secundary);
}

.more-videos a span:first-child {
  margin-right: -5px;
}

/* Faça Parte */

.be-part {
  background: var(--primary);
  text-transform: uppercase;
  font-size: var(--font18);
  padding: 60px;
}

.be-part .container form {
  background: var(--base1);
  padding: 40px;
}

.be-part .container {
  align-items: center;
}

.be-part .container form label {
  color: var(--primary);
  margin-bottom: 5px;
}

.form-content div:first-child {
  margin-right: 20px;
}

.be-part .container form input, .be-part .container form select, .be-part .container form textarea {
  background: var(--secundaryLight);
  border: none;
  height: 37px;
  margin-bottom: 20px;
  outline: none;
}

.be-part .container form textarea {
  height: 100px;
  resize: vertical;
}

.form-basic div input:last-child {
  margin-bottom: 40px;
}

.form-content{
  display: flex;
}

.form-content div:first-child {
  width: 50%;
}

.form-content div:last-child {
  width: 50%;
}

.form-content div {
  display: flex;
  flex-direction: column;
}

.options .options-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.options .options-flex > button {
  width: calc(50% - 10px);
}

.options .options-flex div {
  display: flex;
  margin-bottom: 20px;
}

.options .options-flex div button {
  width: 50%;
  text-align: center;
}

.options .options-flex div button + button {
  margin-left: 20px;
}

.options-flex button, .submit {
  text-decoration: none;
  color: var(--base);
  padding: 15px 20px;
  background: var(--secundary);
  border: none;
  font-family: var(--roboto);
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--font18);
  text-align: center;
  cursor: pointer;
}

.submit {
  margin-top: 20px;
  width: 100%;
}

.options-flex button:hover, .options-flex button.active, .submit:hover, .submit.active {
  background: var(--base2);
  color: var(--secundary);
  transition: 0.4s;
}

.options h2 {
  color: var(--primary);
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 100px;
}

.form-container > h2 {
  max-width: 400px;
  text-align: right;
  margin-bottom: 40px;
}

.modal {
  display: none;
}

.input-full {
  display: flex;
  flex-direction: column;
}

.mod-act {
  display: block;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate3d(0px, -10px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}




