.posts {
  padding: 60px 0px;
  background: var(--primaryBold);
}

.posts .container {
  flex-direction: column;
}

.blog-post {
  margin-bottom: 60px;
}

.blog-post a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  padding: 0px 60px 40px 60px;
  height: 300px;
  opacity: 0.8;
}

.blog-post a:hover {
  opacity: 1;
  transition: 0.4s;
}

.notice-date {
  margin-bottom: 20px;
  font-size: 36px !important;
  color: var(--secundary);
}

.nav-blog {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 60px;
  align-items: center;
  justify-content: space-between;
}

.nav-blog-line {
  content: '';
  display: block;
  width: 100% !important;
  height: 1px;
  background: var(--secundary);
  order: 2;
  margin: 0 10px 0 18px;
}

.nav-blog a {
  display: flex;
  text-align: left;
  position: relative;
  top: -1px;
  letter-spacing: -8px;
  color: var(--base1);
  font-size: var(--font32);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-blog a:first-child {
  order: 3;
}

.nav-blog a:last-child {
  order: 1;
}

.nav-blog a:hover {
  color: var(--secundary);
  transition: 0.4s;
}

.title-notices {
  margin-top: 150px;
  background: var(--secundary);
  padding: 60px 0px;
}

.title-notices .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-notices .container h1 {
  margin-bottom: 0;
  text-align: center;
}

.filter-text {
  margin-bottom: 10px;
  font-size: var(--font9);
}

.filtro {
  background: linear-gradient(180deg, #000000 0%, #03468C 100%);
  padding: 60px 0;
}

.filtro .container {
  justify-content: space-between;
}

#searchform {
  margin: 0 !important;
  display: flex;
  width: 50%;
  margin-right: 100px !important;
}

#searchform div {
  display: flex;
  width: 100%;
  align-items: center;
}

#searchform div #s {
  background: rgba(3, 70, 140, 0.4);
  border: 1px solid var(--primary);
  width: 100%;
  height: 40px;
  outline: none;
}

#searchform div #searchsubmit {
  border: none;
  font-family: var(--roboto) !important;
  font-size: var(--font18);
  text-transform: uppercase;
  background: var(--primary);
  color: var(--base1);
  padding: 5px 20px;
  height: 40px;
  text-decoration: none;
  margin-left: 10px;
  cursor: pointer;
}

.filtro-tags {
  width: 50%;
}

.filtro-tags .filter-text {
  text-align: center;
}

.filtro-tags ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.filtro-tags ul li a {
  display: block;
  color: var(--base1);
  background: var(--secundary);
  text-decoration: none;
  align-self: flex-start;
  padding: 5px 10px;
  font-size: var(--font12);
  margin-bottom: 5px;
}

.filtro-tags ul li {
  margin: 5px;
}

@media (max-width: 885px) {
  .filtro .container {
    flex-direction: column;
  }
  #searchform, .filtro-tags {
    width: 100%;
  }
  #searchform {
    margin-right: 0px !important;
    margin-bottom: 40px !important;
  }
}

@media (max-width: 520px) {
  .blog-post a h2 {
    font-size: var(--font18);
  }
}




