.sobre {
  padding: 60px 0px;
  background: var(--primaryBold);
  position: relative;
}

#historia.container {
  flex-direction: column;
}

.flex-historia {
  display: flex;
}

.historia-img {
  width: 50%;
  position: absolute;
  bottom: -2px;
  right: 50px;
}

.texto-img {
  width: 50%;
  background: linear-gradient(90deg, rgba(1,21,42,1) 0%, rgba(39,66,130,1) 40%, rgba(1,21,42,1) 100%);
  padding: 10px;
}

.historia-img img {
  width: 800px;
}

#historia {
  margin-top: 100px;
}

#historia h2 {
  margin-bottom: 40px;
}

#quem-somos h2 {
  margin-right: 100px;
}

#historia p, #quem-somos p {
  font-family: var(--montserrat);
  color: var(--base1);
  line-height: 26px;
}

@media (max-width: 1500px) {
  .historia-img {
    display: none;
  }

  .texto-img {
    width: 100%;
  }
}

@media (max-width: 870px) {
  #quem-somos {
    flex-direction: column;
  }

  #quem-somos h2 {
    margin-left: 0px;
    margin-bottom: 40px;
  }
}