.sobre {
  padding: 60px 0px;
  background: var(--primaryBold);
}

.sobre .container:first-child .title {
  width: 40%;
  margin-right: 60px;
}

.sobre .container p {
  width: 60%;
  font-family: var(--montserrat);
  line-height: 26px;
}

.sobre .container + .container {
  margin-top: 100px;
}

.sobre .container:last-child {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sobre .container:last-child .title {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

.sobre .container:last-child p {
  background: linear-gradient(180deg, #01152A 0%, #000000 100%);
  padding: 40px;
  border-radius: 20px;
}

@media (max-width: 1060px) {
  .sobre .container p {
    width: 100% !important;
  }
}

@media (max-width: 700px) {
  .sobre .container {
    flex-direction: column;
  }
  .sobre .container:first-child .title {
    margin-bottom: 40px;
    margin-right: 0px !important;
  }
  .sobre .container .title {
    width: 100% !important;
  }
  .sobre .container:last-child p {
    padding: 0px;
  }
  .sobre .container:last-child .title {
    text-align: left;
  }
}